<app-header></app-header>
<ion-content [fullscreen]="true">
  <app-explore-container>
  </app-explore-container>
  <app-tabs></app-tabs>

  <ion-card id="pres">
    <ion-card-header>    
      <ion-row>        
        <ion-col size="3">
          <ion-avatar>            
            <img src="https://www.worldphoto.org/sites/default/files/default-media/Piercy.jpg">
          </ion-avatar>
        </ion-col>        
        <ion-col text-center>
          <ion-card-title>Mr.Swathi Kannan</ion-card-title>
          <ion-card-content>Chairman</ion-card-content>
        </ion-col>
      </ion-row>    
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-row>        
        <ion-col size="3">
          <ion-avatar>            
            <img src="./avatar.svg">
          </ion-avatar>
        </ion-col>        
        <ion-col text-center>
          <ion-card-title>Vivid Mr.Vasunathan</ion-card-title>          
          <ion-card-content>President</ion-card-content>
        </ion-col>
      </ion-row>    
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row>        
        <ion-col size="3">
          <ion-avatar>            
            <img src="./avatar.svg">
          </ion-avatar>
        </ion-col>        
        <ion-col text-center>
          <ion-card-title>Mr.Sakthivel</ion-card-title>
          <ion-card-content>Vice-President</ion-card-content>
        </ion-col>
      </ion-row>    
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row>        
        <ion-col size="3">
          <ion-avatar>            
            <img src="./avatar.svg">
          </ion-avatar>
        </ion-col>        
        <ion-col text-center>
          <ion-card-title>Mr.Jayaprakash</ion-card-title>
          <ion-card-content>Vice-President</ion-card-content>
        </ion-col>
      </ion-row>    
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row>        
        <ion-col size="3">
          <ion-avatar>            
            <img src="https://scontent.fmaa1-3.fna.fbcdn.net/v/t1.0-9/139368216_3475952582513808_8788111837542574081_o.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=vUn6ynjf-g0AX83PnLi&_nc_oc=AQmCx_gi_3BpRbKH-PcVFGvAyJx079jnai9B1u8J6DPa-y_RpUMX04i3-a23cgbi9p4&_nc_ht=scontent.fmaa1-3.fna&oh=30dd2bd9654ee72c04cad4679805795e&oe=602C766D">
          </ion-avatar>
        </ion-col>        
        <ion-col text-center>
          <ion-card-title>Mr.RhamKumar Balaji</ion-card-title>
          <ion-card-content>Secretary</ion-card-content>
        </ion-col>
      </ion-row>    
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row>        
        <ion-col size="3">
          <ion-avatar>            
            <img src="./avatar.svg">
          </ion-avatar>
        </ion-col>        
        <ion-col text-center>
          <ion-card-title>Mr.Vignesh Ramkumar</ion-card-title>
          <ion-card-content>Treasurer</ion-card-content>
        </ion-col>
      </ion-row>    
    </ion-card-header>
  </ion-card>

</ion-content>
