<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432502126830-hhgglduakcl6flosokm2iuq6ouh4esc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432502126830-hhgglduakcl6flosokm2iuq6ouh4esc1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>432502126830-rd073c5tedu6hhp2h5cdvuqo3uoqo5md.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEhWJN19QFaijg8gn6WEwykikPtmKmXUU</string>
	<key>GCM_SENDER_ID</key>
	<string>432502126830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trc.booking</string>
	<key>PROJECT_ID</key>
	<string>cedar-dogfish-285017</string>
	<key>STORAGE_BUCKET</key>
	<string>cedar-dogfish-285017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432502126830:ios:347376dff7c3191a781bff</string>
	<key>DATABASE_URL</key>
	<string>https://cedar-dogfish-285017.firebaseio.com</string>
</dict>
</plist>