<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Book your Riding Slot!
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Start Time</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Ends</ion-label>
    <ion-datetime value="1990-02-20" placeholder="Select Date"></ion-datetime>
  </ion-item>
</ion-content>
