<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Booking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Booking</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name=""></app-explore-container>

  <ion-card (click)="navigate1()">
    <img src="../../assets/horserding.jpg" />
    <ion-card-header>
      <ion-card-title>Horse Slot Booking</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigate2()">
    <img src="../../assets/zakaria-zayane-0uAVsDcyD0M-unsplash.jpg" />
    <ion-card-header>
      <ion-card-title>Memorable Cuisine</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
       We promise you a culinary experience that will be a celebration of a lifetime.    
      </ion-card-content>
  </ion-card>
  
  <ion-card (click)="navigate3()">
    <img src="../../assets/samantha-gades-fIHozNWfcvs-unsplash.jpg" />
    <ion-card-header>
      <ion-card-title>Party </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Start planning your events with us.
      Explore Opportunities to Celebrate
    </ion-card-content>
  </ion-card>

</ion-content>


