<app-header></app-header>
<ion-content>
  <ion-refresher slot="fixed" pull-max="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <app-post-type-text *ngIf="post.type === 1" [post]="post" style="width: 100%;"></app-post-type-text>
      <app-post-type-one-image *ngIf="post.type === 2" style="width: 100%;"></app-post-type-one-image>
      <app-post-type-two-image *ngIf="post.type === 3" style="width: 100%;"></app-post-type-two-image>
      <app-post-type-three-image *ngIf="post.type === 4" style="width: 100%;"></app-post-type-three-image>
      <app-post-type-video *ngIf="post.type === 5" style="width: 100%;"></app-post-type-video>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="presentModal()">
    <ion-fab-button color="light">
      <ion-icon class="fab-icon-color" name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
