ion-text{
  margin-left: 1.3rem;
}
p{
  color: #1DA1F2;
  cursor: pointer;
}
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}
.footerToolbar{
  font-size: 1.3rem;
  padding: 0.9rem;
}
.delete {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  color: white;
  background-color: dimgrey;
  display: block;
  width: 100%;
}
.ripple-parent {
  position: relative;
  overflow: hidden;
}
