<ion-header translucent>
    <ion-toolbar>
        <ion-text slot="start" (click)="dismiss()">
            <p class="ion-margin-top">cancel</p>
        </ion-text>
        <ion-chip slot="end" color="primary" *ngIf="!enablePost">
            <ion-label>Post</ion-label>
        </ion-chip>
        <ion-chip slot="end" color="secondary" *ngIf="enablePost" (click)="postData()">
            <ion-label>Post</ion-label>
        </ion-chip>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-grid class="ion-margin-top">
        <ion-row>
            <ion-col size="2.5" class="ion-no-margin">
                <ion-avatar>
                    <img [src]="photoURL">
                </ion-avatar>
            </ion-col>
            <ion-col size="9.5">
                <form [formGroup]="post">
                    <ion-textarea rows="6"  formControlName="message" placeholder="Whats happening?" ></ion-textarea>
                </form>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                        <ion-slide class="ion-activatable ripple-parent" *ngFor="let img of imageResponse; let index = index;" style="width: 105px; height: 160px; border: 1px solid #f8f8f8">
                            <img style="pointer-events:none" src="{{img.data}}">
                            <ion-ripple-effect></ion-ripple-effect>
                            <ion-icon class="delete" (click)="deleteImage(img.id, index)" name="close-circle-outline"></ion-icon>
                        </ion-slide>
                    </ion-slides>
           </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-progress-bar type="indeterminate" color="secondary" *ngIf="uploadProgress" [value]="(uploadProgress | async)"></ion-progress-bar>
    <ion-toolbar>
        <ion-item slot="start">
            <div class="ion-activatable ripple-parent">
                <ion-icon class="footerToolbar" (click)="getImages()" name="image-outline"></ion-icon>

                <ion-ripple-effect></ion-ripple-effect>
            </div>
            <div class="ion-activatable ripple-parent">
                <ion-icon class="footerToolbar" (click)="getVideos()" name="videocam-outline"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </div>
        </ion-item>
        <ion-item slot="end">
            <div class="ion-activatable ripple-parent">
                <ion-icon class="footerToolbar" (click)="accessCamera()" name="camera-outline"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </div>
        </ion-item>

    </ion-toolbar>
</ion-footer>
