<div *ngIf="showSplash" class="splash">
    <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu menuId="mainMenu" contentId="main-content" type="push">
            <ion-content>
                <ion-menu-toggle auto-hide="true">
                    <ion-list id="inbox-list" lines="none">
                        <ion-item>
                            <ion-avatar slot="start">
                                <img src="{{imgUrl}}">
                            </ion-avatar>
                            <ion-label>
                                <h3>{{name}}</h3>
                                <p>{{email}}</p>
                            </ion-label>
                        </ion-item>
                        <ion-item routerDirection="root" (click)="navigate('profile')" lines="none" detail="false">
                            <ion-icon name="person-circle-sharp" style="height: .7em;"></ion-icon>
                            <ion-label style="font-size: .8em;">&nbsp;Your Profile</ion-label>
                        </ion-item>
                        <ion-item routerDirection="root" (click)="navigate('horses')" lines="none" detail="false">
                            <ion-icon name="paw-sharp" style="height: .7em;"></ion-icon>
                            <ion-label style="font-size: .8em;">&nbsp;Know your Horses</ion-label>
                        </ion-item>
                        <ion-item routerDirection="root" (click)="navigate('facility')" lines="none" detail="false">
                            <ion-icon name="earth-sharp" style="height: .7em;"></ion-icon>
                            <ion-label style="font-size: .8em;">&nbsp;Facilities at TRC</ion-label>
                        </ion-item>
                        <ion-item routerDirection="root" (click)="navigate('trustee')" lines="none" detail="false">
                            <ion-icon name="ribbon-sharp" style="height: .7em;"></ion-icon>
                            <ion-label style="font-size: .8em;">&nbsp;Board of Trustee's</ion-label>
                        </ion-item>
                        <ion-item-divider *ngIf="isAdmin">
                            <ion-label style="font-size: .8em;">
                                For Admin
                            </ion-label>
                        </ion-item-divider>
                        <ion-item routerDirection="root" lines="none" detail="true" *ngIf="isAdmin">
                            <ion-icon name="shield-checkmark-sharp" style="height: .7em;"></ion-icon>
                            <ion-label style="font-size: .8em;">&nbsp;Approvals</ion-label>
                        </ion-item>
                        <ion-item routerDirection="root" lines="none" detail="true" *ngIf="isAdmin">
                            <ion-icon name="library-sharp" style="height: .7em;"></ion-icon>
                            <ion-label style="font-size: .8em;">&nbsp;Stock management</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-menu-toggle>
            </ion-content>
            <ion-footer>
                <ion-item-divider>
                    <ion-label style="font-size: .8em;">
                        Others
                    </ion-label>
                </ion-item-divider>
                <ion-item routerDirection="root" (click)="navigate('privacy')" lines="none" detail="false">
                    <ion-label style="font-size: .8em;">Setting and privacy</ion-label>
                </ion-item>
                <ion-item routerDirection="root" (click)="navigate('help')" lines="none" detail="false">
                    <ion-label style="font-size: .8em;">Help Center</ion-label>
                </ion-item>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
